node_modules
.next
.next-dev
out
*.tsbuildinfo
.env*.local
.DS_Store
playwright-report
test-results
.dev-url

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
