node_modules
.next
.next-dev
out
*.tsbuildinfo
.env*
!.env.example
*.log
.DS_Store
coverage
playwright-report
test-results
.dev-url

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
